/*
    Add here your own SCSS/CSS code to override theme styles
*/

#shopify-section-1610178560d1807d19 .btn-danger {
    background-color: #ffc221; 
    color: #fff; 
    border-radius: 40px !important; 
    border-color: #ffc221;} 
#shopify-section-1610178560d1807d19 .form-control {border-radius: 40px !important;} #shopify-section-1610178560d1807d19 .my-newsletter {background-color: #0070dc;} 